body {
   overflow-x: hidden;
   font-family: 'Montserrat';
 }

 p {
   line-height: 1.75;
 }

 .text-primary {
   color: #697689 !important;
 }

 .bold {
    font-weight: bold;
 }

 ::selection {
    background: #315284;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: 700;
   font-family: 'Montserrat';
 }

 section h2.section-heading {
   font-size: 40px;
   margin-top: 50px;
   margin-bottom: 15px;
 }

 section h3.section-subheading {
   font-size: 22px;
   font-weight: 400;
   font-style: italic;
   margin-bottom: 75px;
   text-transform: none;
   font-family: 'Montserrat';
 }

 @media (min-width: 768px) {
   section {
     padding: 100px 0;
   }
 }

#mainNav {
  background-color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  color: white;
  border: 0s;
  background-color: #315284;
  font-family: 'Montserrat';
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #697689;
  font-family: 'Montserrat';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #002d72;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-language {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 2em;
    padding: 12px;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Montserrat';
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat';
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Montserrat';
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat';
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.btn {
  font-family: 'Montserrat';
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #315284;
  border-color: #315284;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #b67233;
  border-color: #b67233;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5);
}

#about {
  background-color: #315284;
  padding: 50px;
}

#about .section-heading {
  color: white;
}

#about .about-text{
  color: white;
}

#about .row{
  margin-bottom: 0px;
}

#about .row-secondary{
  margin-bottom: 20px;
}

#about .about-image{
  margin-top: 0px;
  max-width: 100%;
  height: auto;
}

#about .about-h3{
  margin-bottom: 50px;
  color: white;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Montserrat';

}

#quote {
  background-color: white;
  padding: 50px;
}

#quote .quote-h3 {
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  font-family: 'Montserrat';
}

#products {
  padding: 50px;
}

#products .products-item .products-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#products .products-item .products-link .products-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(49, 82, 132, 0.9);
}

#products .products-item .products-link .products-hover:hover {
  opacity: 1;
}

#products .products-item .products-link .products-hover .products-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#products .products-item .products-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

@media (min-width: 768px) {
  #products .products-item {
    margin: 0 0 30px;
  }
}

#certifications {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e0e0e0;
}

#certifications .certifications_text {
  padding: 50px;
}

#contact {
  background-color: #315284;
  background-image: url("../img/map-image.png");
}

#contact .section-heading {
  color: white;
  padding: 50px;
}

#contact .contact-contact {
  text-align: center;
  padding: 0px;
}

#contact .contact-address {
  padding: 50px;
}

#contact .map-responsive iframe{
    padding: 50px;
    max-width: 100%;
    height: auto;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat';
}
